
.offCanvas-menu{
    display: block;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 18px;
    font-weight: 500;
} 
.offCanvas-menu li{
    display: block;
    align-items: center;
    justify-content: center;
    gap: 25px;
    cursor: pointer;
}
.offCanvas-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #e21919;
}




