.new-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
  width: 100%;
}
.new-collections h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.new-collections hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.collections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 10px;
}
@media only screen and (max-width: 768px){
  .new-collections {
  gap: 5px;
  margin-bottom: 35px;
  width: 90%;
}
.new-collections h1 {
  font-size: 25px;
}
.new-collections hr {
  width: 250px;
  height: 3px;
}
.collections {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin-top: 10px;
  gap: 5px;
}
}