.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-logo img {
  width: 70px;
  height: auto;
}
.footer-logo p {
  color: #383838;
  font-size: 38px;
  font-weight: 700;
}
.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #252525;
  font-size: 20px;
}
.footer-links li {
  cursor: pointer;
}
.footer-social-icon {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.footer-icons-container {
  padding: 10px;
  padding-bottom: 6px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  color: #1a1a1a;
  font-size: 20px;
}
.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: #c7c7c7;
}
@media only screen and (max-width: 768px) {
  .footer {
    background: rgb(236, 228, 228);
    gap: 5px;
  }
  .footer-logo p {
    font-size: 25px;
  }
  .footer-links {
    gap: 8px;
    font-size: 15px;
  }

  .footer-social-icon {
    gap: 35px;
  }
  .footer-icons-container {
    padding: 7px;
    padding-bottom: 3px;
  }
  .footer-copyright {
    gap: 5px;
    margin-bottom: 10px;
    font-size: 15px;
  }
}
