.productDisplay{
    display: flex;
    margin: 0px 85px;
}
.productDisplay-left{
    display: flex;
    gap: 17px;
}
.productDisplay-img-list{
    display: flex;
    flex-direction: column;
gap: 16px;
}
.productDisplay-img-list img{
    height: 85px;
}
.productDisplay-main-img{
    width: 425px;
    height: 425px;
}
.productDisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productDisplay-right h1{
    color: #3d3d3d;
}
.productDisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 2px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productDisplay-right-star p{
    margin-top: 16px;
}
.productDisplay-right-prices{
    display: flex;
    margin: 10px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productDisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productDisplay-right-price-new{
    color: #ff4141;
}
.productDisplay-right-size h1{
    margin-top: 25px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productDisplay-right-sizes{
    display: flex;
    margin: 15px 0px;
    gap: 20px;
}
.productDisplay-right-sizes div{
    padding: 10px 24px;
    background: #fbfbfb;
    border: 1px solid#ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productDisplay-right button{
    padding: 10px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: red;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productDisplay-right button:hover{
    background: black;
}
.productDisplay-right-category{
    margin-top: 10px;
}
.productDisplay-right-category span{
    font-weight: 600;
}
.productDisplay-right-tags span{
    font-weight: 600;
}
